# Ignore git & cache
.git
.gitignore
__pycache__/
*.pyc
.pytest_cache/
.hypothesis/
.vscode/

# DO NOT IGNORE THESE - REQUIRED FOR DOCKER BUILD
!backend/
!frontend/
!Dockerfile
!uploads/
!processed/
!events_data.json
